1. Write a function that inputs an integers and returns the negative

In [14]:
# Write your function here
def negative(x):
    negative = -x
    return negative

In [15]:
# Test your function with input x
x = 4
negative(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [16]:
# Write your function here
def FindMin(x):
    current_min = x[0]
    for i in x:
        if i < current_min:
            current_min = i
    return current_min

In [17]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
FindMin(lst)
test = [7,8,9,6,5,4,3,2,-5]
FindMin(test)
# Create you own input list to test with

-5

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [18]:
def my_function(lst1, lst2, str1, str2):
    
    normalized_1 = (lst1-min(lst1))/(max(lst1)-min(lst1))
    normalized_2 = (lst2-min(lst2))/(max(lst2)-min(lst2))
    df = pd.DataFrame({str1:normalized_1,str2:normalized_2})
    return df

In [19]:
# test your challenge problem function
import numpy as np
import pandas as pd
lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'


my_function(lst1, lst2, str1, str2)

         one     alpha
0   0.277296  0.496865
1   0.571057  0.752351
2   0.866551  0.830721
3   0.908146  0.219436
4   0.339688  0.744514
..       ...       ...
95  0.331889  0.620690
96  0.550260  0.387147
97  0.266898  0.951411
98  0.195841  0.998433
99  0.929809  0.960815

[100 rows x 2 columns]